nav {
    list-style-type: none;
    overflow: hidden;
    background-color: grey;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 10px;
}

nav li a:hover{
    background-color: black;
}

.world{
    background-image: url(Earth.jpg);
}